@media (min-width: 5px) and (max-width: 3000px) {
    body {
        background-color: rgb(0, 100, 0);
    }
}
.container {
    border: 2px solid black;
    display: flex;
    padding: 10px;
    gap: 30px;
    justify-content: end;
    flex-wrap:wrap;
    
}
.img {
    object-fit: cover;
    object-position: left;
    width: 5px;
    height: 5px;
}
.child {
    display: flex;

}



